# Copyright (c) 2025 Elius Faustine.
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESP32S3_FH4R2
	select SOC_ESP32S3_MINI_N4R2
	select SOC_ESP32S3_PROCPU if BOARD_ESP32S3_FH4R2_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_ESP32S3_FH4R2_ESP32S3_APPCPU
